body {
  text-align: center;
  font-family: Helvetica, "Sans-Serif";
}

.header {
  background-image: url("../../resources/images/the-flatiron-building.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul.links, ul.links li a {
  font-size: 18px;
  color: white;
  list-style-type: none;
  list-style-position: inside;
  margin:0;
  padding:0;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h3.designed-by{
  color: white;
}

.footer {
  color: white;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
  display: block;
}
